<div class="w-full max-w-lg m-auto bg-blue-200 mt-8 rounded">
    <h2 class="text-xl font-display bg-blue-700 text-white text-center py-4">How Long Till I Die?</h2>
    <div class="px-8 py-8">
        <section>
            <p class="text-md font-body text-gray-700">Enter your age and a few optional details about yourself and the oracle (aka the CDC) will tell you how long you have to live.</p>
        </section>
        <form class="mt-4" {{on "submit" this.calculateLifeSpan}}>
            {{#if this.error}}
                <div class="flex justify-center text-red-500 group relative w-full flex justify-center py-2 px-4 mb-4 leading-5 bg-red-100 border-red-500 rounded-md">
                    <span id="form-error" class="pl-2">{{this.error}}</span>
                </div>
            {{/if}}
            <Ui::Input
                @value={{this.age}}
                @label="Enter Your Age"
                @placeholder="10, 25, 101..."
            />
            <Ui::Drop-down
                @updateValue={{this.setRace}}
                @label="Select Your Race"
                @options={{this.raceOptions}}
                class="my-4"
            />
            <Ui::Drop-down
                @updateValue={{this.setGender}}
                @label="Select Your Gender"
                @options={{this.genderOptions}}
                class="my-4"
            />
            <button
                id="submit-button"
                type="submit"
                role="button"
                class="w-full bg-teal-600 hover:bg-teal-700 border-teal-600 hover:border-teal-700 border-4 font-body text-white py-2 px-2 rounded mt-6"
            >
                <span>Ask The Oracle</span>
            </button>
        </form>
    </div>
</div>